/**
 * Defines <ng-kit-date-range-form> styles
 */
ng-kit-date-range-form {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    input {
        margin-right: 10px;
        margin-left: 10px;
    }
}
